* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(108, 171, 95);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}
.first {
  color: blue;
}

#your-name {
  background-color: yellow;
  border: 3px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

#box-model {
  height: 300px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

#course-image {
  height: 200px;
}
#your-name h2 {
  color: olivedrab;
}
